{% extends "base.html.twig" %}
{% block body %}

    <h2>Bonjour {{ firstname }}</h2>

    <p>Vous êtes bien enregistrés sur Vends Ton Goss!!</p>

    <a href="localhost:8000/login">Vous pouvez désormais profiter de nos services!!</a>

    <p>Merci encore et à très vite.</p>

{% endblock %}